APP_NAME=
APP_ENV=
APP_DEBUG=
APP_URL=

LOG_CHANNEL=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_SOCKET=

BROADCAST_DRIVER=
CACHE_DRIVER=
QUEUE_CONNECTION=
SESSION_DRIVER=
SESSION_LIFETIME=

REDIS_HOST=
REDIS_PORT=

MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_ENCRYPTION=

AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_CLUSTER=
APP_KEY=base64:YOUR_APP_KEY_HERE
DB_PASSWORD=your_database_password
MAIL_PASSWORD=your_mail_password
